Title: <%= @post.title %> <br>
Content: <%= @post.content %>

<%= link_to 'Edit Post', edit_post_url(@post) %>


<h3>Comments</h3>

<% @post.comments.where(parent_comment_id: nil).each do |top_comment| %>
  <%= top_comment.content %>
  <%= link_to 'Comment on comment', comment_url(top_comment) %>
  <ul>
    <%= render 'comments/comment', top_children: top_comment.child_comments %>
  </ul>
<% end %>

<h3>Add comment:</h3>
<form class="" action="<%= comments_url %>" method="post">
  <%= auth_token %>

  <label>Comment
    <input type="text" name="comment[content]" value="">
  </label>

  <input type="hidden" name="comment[post_id]" value="<%= @post.id %>">

  <input type="submit" name="" value="New Comment">
</form>
